<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket.io</title>
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io('http://localhost:3000/');

        socket.on('server data', (data) => {
            console.log(socket.id);
            $('#content').append(data + ", ")
        })

        $(document).ready(() => {
            $('#mrA').click(() => {
                socket.emit('client data', 'HELLO');
            })
        });
    </script>
</head>
<body>
    <div id="mrA">Click send</div>
    <h2 id="content"></h2>
</body>
</html>